n8n-property-agent.json
{
    "name": "JC Invest - Property Data Agent",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 24
                        }
                    ]
                }
            },
            "id": "1",
            "name": "Daily Schedule",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "property-agent",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "2",
            "name": "Manual Trigger Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                500
            ],
            "webhookId": "property-agent"
        },
        {
            "parameters": {
                "mode": "manual",
                "duplicateItem": false,
                "assignments": {
                    "assignments": [
                        {
                            "id": "city",
                            "name": "searchCity",
                            "value": "Oslo",
                            "type": "string"
                        },
                        {
                            "id": "minPrice",
                            "name": "minPrice",
                            "value": "3000000",
                            "type": "string"
                        },
                        {
                            "id": "maxPrice",
                            "name": "maxPrice",
                            "value": "8000000",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "3",
            "name": "Set Search Parameters",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                460,
                400
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://www.finn.no/realestate/homes/search.html?location=0.20061&price_from={{ $json.minPrice }}&price_to={{ $json.maxPrice }}&sort=PUBLISHED_DESC",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "text"
                        }
                    }
                }
            },
            "id": "4",
            "name": "Fetch Finn.no Search",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                680,
                400
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Du er en data-ekstraheringsekspert for norske eiendomsannonser.\n\nFra følgende HTML fra Finn.no boligsøk, ekstraher de første 10 boligannonsene og returner dem som en JSON-array.\n\nFor HVER bolig du finner, ekstraher følgende felt:\n- finncode: Finn-koden fra URL eller data-attributt (f.eks. \"123456789\")\n- address: Full adresse (f.eks. \"Storgata 15\")\n- city: By (f.eks. \"Oslo\")\n- postal_code: Postnummer hvis tilgjengelig (f.eks. \"0182\")\n- price: Salgspris som TALL uten formattering (f.eks. 4500000)\n- sqm: Areal i m² som TALL (f.eks. 75)\n- bedrooms: Antall soverom som TALL hvis tilgjengelig\n- property_type: Boligtype (\"Leilighet\", \"Enebolig\", \"Rekkehus\" osv)\n- image_url: URL til hovedbildet\n- finn_url: Full URL til annonsen på Finn.no\n\nVIKTIG REGLER:\n1. Returner KUN gyldig JSON, ingen annen tekst\n2. Hvis et felt ikke finnes, sett det til null\n3. Priser og tall skal være rene tall uten punktum eller mellomrom\n4. Start svaret med [ og avslutt med ]\n\nHTML:\n{{ $json.data.substring(0, 40000) }}",
                "options": {
                    "temperature": 0.1
                }
            },
            "id": "5",
            "name": "AI Extract Properties",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                900,
                400
            ],
            "credentials": {
                "googleGeminiApi": {
                    "id": "REPLACE_WITH_YOUR_GEMINI_CREDENTIAL_ID",
                    "name": "Google Gemini"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse AI response and clean up data\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const aiResponse = item.json.text || item.json.content || '';\n  \n  // Find JSON array in response\n  const jsonMatch = aiResponse.match(/\\[\\s*\\{[\\s\\S]*?\\}\\s*\\]/g);\n  \n  if (!jsonMatch) {\n    console.log('No JSON found in response');\n    continue;\n  }\n  \n  try {\n    const properties = JSON.parse(jsonMatch[0]);\n    \n    for (const p of properties) {\n      // Clean and validate each property\n      const cleaned = {\n        finncode: String(p.finncode || '').trim() || null,\n        address: String(p.address || '').trim() || null,\n        city: String(p.city || 'Oslo').trim(),\n        postal_code: String(p.postal_code || '').trim() || null,\n        price: parseInt(String(p.price || '').replace(/\\D/g, '')) || null,\n        sqm: parseInt(String(p.sqm || '').replace(/\\D/g, '')) || null,\n        bedrooms: parseInt(p.bedrooms) || null,\n        property_type: String(p.property_type || 'Leilighet').trim(),\n        image_url: String(p.image_url || '').trim() || null,\n        finn_url: String(p.finn_url || '').trim() || null,\n        price_per_sqm: null,\n        source: 'finn.no',\n        scraped_at: new Date().toISOString(),\n        status: 'active'\n      };\n      \n      // Calculate price per sqm\n      if (cleaned.price && cleaned.sqm && cleaned.sqm > 0) {\n        cleaned.price_per_sqm = Math.round(cleaned.price / cleaned.sqm);\n      }\n      \n      // Only add if we have minimum required data\n      if (cleaned.address && cleaned.price) {\n        results.push({ json: cleaned });\n      }\n    }\n  } catch (e) {\n    console.log('Parse error:', e.message);\n  }\n}\n\n// Return at least empty array\nif (results.length === 0) {\n  return [{ json: { error: 'No properties extracted', timestamp: new Date().toISOString() } }];\n}\n\nreturn results;"
            },
            "id": "6",
            "name": "Parse & Clean Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1120,
                400
            ]
        },
        {
            "parameters": {
                "operation": "create",
                "tableId": "market_properties",
                "dataToSend": "autoMapInputData",
                "options": {}
            },
            "id": "7",
            "name": "Save to Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1340,
                400
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "REPLACE_WITH_YOUR_SUPABASE_CREDENTIAL_ID",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "aggregate": "aggregateAllItemData",
                "destinationFieldName": "properties",
                "options": {}
            },
            "id": "8",
            "name": "Aggregate Results",
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                1560,
                400
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"message\": \"Property data collected successfully\",\n  \"count\": {{ $json.properties.length }},\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
            },
            "id": "9",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1780,
                400
            ]
        }
    ],
    "connections": {
        "Daily Schedule": {
            "main": [
                [
                    {
                        "node": "Set Search Parameters",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Manual Trigger Webhook": {
            "main": [
                [
                    {
                        "node": "Set Search Parameters",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Search Parameters": {
            "main": [
                [
                    {
                        "node": "Fetch Finn.no Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Finn.no Search": {
            "main": [
                [
                    {
                        "node": "AI Extract Properties",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Extract Properties": {
            "main": [
                [
                    {
                        "node": "Parse & Clean Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse & Clean Data": {
            "main": [
                [
                    {
                        "node": "Save to Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to Supabase": {
            "main": [
                [
                    {
                        "node": "Aggregate Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate Results": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2026-01-02T00:25:00.000Z",
    "versionId": "1"
}