n8n-property-agent.json
{
    "name": "JC Invest - Property Data Agent",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 24
                        }
                    ]
                }
            },
            "id": "schedule-trigger",
            "name": "Daily Schedule",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                220,
                300
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "property-agent",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Manual Trigger Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                220,
                500
            ],
            "webhookId": "property-agent"
        },
        {
            "parameters": {
                "mode": "manual",
                "duplicateItem": false,
                "assignments": {
                    "assignments": [
                        {
                            "id": "city",
                            "name": "searchCity",
                            "value": "Oslo",
                            "type": "string"
                        },
                        {
                            "id": "minPrice",
                            "name": "minPrice",
                            "value": "3000000",
                            "type": "string"
                        },
                        {
                            "id": "maxPrice",
                            "name": "maxPrice",
                            "value": "8000000",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "set-params",
            "name": "Set Search Parameters",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                440,
                400
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://www.finn.no/realestate/homes/search.html?location=0.20061&price_from={{ $json.minPrice }}&price_to={{ $json.maxPrice }}&sort=PUBLISHED_DESC",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "text"
                        }
                    }
                }
            },
            "id": "fetch-finn",
            "name": "Fetch Finn.no Search",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                660,
                400
            ]
        },
        {
            "parameters": {
                "prompt": "=Du er en data-ekstraheringsekspert for norske eiendomsannonser.\n\nFra følgende HTML fra Finn.no boligsøk, ekstraher de første 50 boligannonsene og returner dem som en JSON-array.\n\nFor HVER bolig du finner, ekstraher følgende felt:\n- finncode: Finn-koden fra URL eller data-attributt (f.eks. \"123456789\")\n- address (fulladresse)\n- city (by)\n- postal_code (postnummer)\n- price (salgspris som TALL)\n- sqm (areal i m² som TALL)\n- bedrooms (antall soverom som TALL)\n- property_type (boligtype)\n- image_url (URL til hovedbilde)\n- finn_url (full URL til annonse)\n\nREGLER:\n1. Returner KUN gyldig JSON array\n2. Priser og tall må være rene tall (4500000, ikke 4 500 000)\n3. Hvis felt mangler, sett null\n\nHTML INPUT:\n{{ $json.data.substring(0, 60000) }}"
            },
            "id": "basic-llm-chain",
            "name": "Basic LLM Chain",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                880,
                400
            ]
        },
        {
            "parameters": {
                "modelName": "models/gemini-1.5-flash",
                "options": {
                    "temperature": 0.1
                }
            },
            "id": "gemini-model",
            "name": "Google Gemini Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                880,
                600
            ],
            "credentials": {
                "googleGeminiApi": {
                    "id": "REPLACE_WITH_YOUR_GEMINI_CREDENTIAL_ID",
                    "name": "Google Gemini"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse AI response and clean up data\nconst text = $input.first().json.text || '';\nconst results = [];\n\n// Find JSON array in response\nconst jsonMatch = text.match(/\\[\\s*\\{[\\s\\S]*?\\}\\s*\\]/);\n\nif (jsonMatch) {\n  try {\n    const properties = JSON.parse(jsonMatch[0]);\n    \n    for (const p of properties) {\n      // Clean and validate each property\n      if (p.address && p.price) {\n        results.push({\n            json: {\n                finncode: String(p.finncode || '').trim() || null,\n                address: String(p.address || '').trim(),\n                city: String(p.city || 'Oslo').trim(),\n                postal_code: String(p.postal_code || '').trim() || null,\n                price: parseInt(String(p.price).replace(/\\D/g, '')) || null,\n                sqm: parseInt(String(p.sqm).replace(/\\D/g, '')) || null,\n                bedrooms: parseInt(p.bedrooms) || null,\n                property_type: String(p.property_type || 'Leilighet').trim(),\n                image_url: String(p.image_url || '').trim() || null,\n                finn_url: String(p.finn_url || '').trim() || null,\n                source: 'finn.no',\n                scraped_at: new Date().toISOString(),\n                status: 'active'\n            }\n        });\n      }\n    }\n  } catch (e) {\n    console.log('Parse error:', e.message);\n  }\n}\n\nif (results.length === 0) {\n    return [{ json: { error: 'No properties found', raw: text } }];\n}\n\nreturn results;"
            },
            "id": "parse-data",
            "name": "Parse & Clean Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1100,
                400
            ]
        },
        {
            "parameters": {
                "operation": "create",
                "tableId": "market_properties",
                "dataToSend": "autoMapInputData",
                "options": {}
            },
            "id": "save-supabase",
            "name": "Save to Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1320,
                400
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "REPLACE_WITH_YOUR_SUPABASE_CREDENTIAL_ID",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "aggregate": "aggregateAllItemData",
                "destinationFieldName": "properties",
                "options": {}
            },
            "id": "aggregate",
            "name": "Aggregate Results",
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                1540,
                400
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"count\": {{ $json.properties.length }},\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
            },
            "id": "respond-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1760,
                400
            ]
        }
    ],
    "connections": {
        "Daily Schedule": {
            "main": [
                [
                    {
                        "node": "Set Search Parameters",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Manual Trigger Webhook": {
            "main": [
                [
                    {
                        "node": "Set Search Parameters",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Search Parameters": {
            "main": [
                [
                    {
                        "node": "Fetch Finn.no Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Finn.no Search": {
            "main": [
                [
                    {
                        "node": "Basic LLM Chain",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_language_model": [
                [
                    {
                        "node": "Basic LLM Chain",
                        "type": "ai_language_model",
                        "index": 0
                    }
                ]
            ]
        },
        "Basic LLM Chain": {
            "main": [
                [
                    {
                        "node": "Parse & Clean Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse & Clean Data": {
            "main": [
                [
                    {
                        "node": "Save to Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to Supabase": {
            "main": [
                [
                    {
                        "node": "Aggregate Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate Results": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}